In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv("coffee-prices-historical-chart-data.csv",index_col='date')

In [7]:
df

             value
date
1973-08-20  0.6735
1973-08-21  0.6710
1973-08-22  0.6580
1973-08-23  0.6675
1973-08-24  0.6660
...            ...
2022-02-07     NaN
2022-02-08     NaN
2022-02-09     NaN
2022-02-10     NaN
2022-02-11     NaN

[12168 rows x 1 columns]